{{!-- Iterated post --}}
<h1 {{action "toggleSidePanel"}}>
    {{post.title}}
</h1>

{{!-- Side Panel --}}
{{!-- TODO: make this its own component --}}
{{#if this.sidePanelActive}}
<SidePanel @post={{post}} @user={{user}} @toggleSidePanelOut={{action "toggleSidePanelOut"}} />
{{/if}}