{{yield paginatedPosts}}

<div id="pagination">
  {{#if canShowPrevious}}
  <span {{action "goToPrevious"}}>&lt;</span>
  {{else }}
  <span class="disabled">&lt;</span>
  {{/if}}

  {{#each pageNumbers as |pageNumber|}}
  <span {{action "goToPage" pageNumber}}>{{pageNumber}}</span>
  {{/each}}

  {{#if canShowNext}}
  <span {{action "goToNext" }}>&gt;</span>
  {{else }}
  <span class="disabled">&gt;</span>
  {{/if}}
</div>