{{yield paginatedPosts}}

<div>
    {{#if canShowPrevious}}
    <span {{action "goToPrevious"}}>&lt;</span>
    {{/if}}

    {{#each pageNumbers as |pageNumber|}}
    <span {{action "goToPage" pageNumber}}>{{pageNumber}}</span>
    {{/each}}

    {{#if canShowNext}}
    <span {{action "goToNext" }}>&gt;</span>
    {{/if}}
</div>