<div id="sidePanel">
  <h2 data-test-side-panel-title >{{post.title}}</h2>
  <p>{{post.body}}</p>

  <div class="user">
    <h2 data-test-side-panel-user >Written by: @{{user.username}}</h2>

    <p data-test-side-panel-user-intro >
      <strong>@{{user.username}}</strong> ({{user.name}}) works at <strong>{{user.company.name}}</strong>
      <strong>({{user.company.catchPhrase}})</strong>.
    </p>

    <p data-test-side-panel-user-contact >
      You can reach the author at
      <a href="tel:{{user.phone}}">{{user.phone}}</a> or
      <a href="mailto:{{user.email}}">{{user.email}}</a>.
    </p>

    <p data-test-side-panel-user-site >
      To read more from
      <strong>@{{user.username}}</strong> you can visit <a href={{user.website}}>{{user.website}}</a>
    </p>
  </div>

  <span data-test-side-panel-close class="close" role="button" {{action "toggleSidePanelOut"}} >
    &times;
  </span>
</div>