<div id="sidePanel">
  <h2 {{action "toggleSidePanelOut"}}>{{post.title}}</h2>
  <p>{{post.body}}</p>
  <h2>Written by: {{user.username}} ({{user.name}})</h2>
  <p>{{user.name}} works at {{user.company.name}} <span>({{user.company.catchPhrase}})</span>. </p>
  <p>You can reach the author at {{user.phone}} or {{user.email}} and you can read more from them at {{user.website}}
  </p>
</div>