<div id="sidePanel">
  <h2>{{post.title}}</h2>
  <p>{{post.body}}</p>

  <div class="user">
    <h2>Written by: @{{user.username}}</h2>
    <p><strong>@{{user.username}}</strong> ({{user.name}}) works at <strong>{{user.company.name}}</strong>
      <strong>({{user.company.catchPhrase}})</strong>.
    </p>
    <p>You can reach the author at <a href="tel:{{user.phone}}">{{user.phone}}</a> or <a
        href="mailto:{{user.email}}">{{user.email}}</a>.
    </p>
    <p>To read more from <strong>@{{user.username}}</strong> you can visit <a
        href="{{user.website}}">{{user.website}}</a></p>
  </div>

  <span class="close" {{action "toggleSidePanelOut"}}>
    &times;
  </span>
</div>